<div class="weui-tab">
    <div class="weui-tab__panel">
    </div>
    <div class="weui-tabbar">
        <a href="#!/home/movie/nowin" class="weui-tabbar__item" ng-click="changeTab(0)">
            <span class="weui-tabbar__icon shouye" ng-class="{'active':tab==0}"></span>
            <p class="weui-tabbar__label"  ng-class="{'weui-bar__item_on':tab==0}">电影</p>
        </a>
        <!-- <a href="#!/home/video" class="weui-tabbar__item" ng-click="changeTab(1)">
            <span class="weui-tabbar__icon shipin" ng-class="{'active':tab==1}"></span>
            <p class="weui-tabbar__label"  ng-class="{'weui-bar__item_on':tab==1}">视频</p>
        </a> -->
        <a href="#!/home/cinema" class="weui-tabbar__item" ng-click="changeTab(2)">
            <span class="weui-tabbar__icon toutiao" ng-class="{'active':tab==2}"></span>
            <p class="weui-tabbar__label"  ng-class="{'weui-bar__item_on':tab==2}">影院</p>
        </a>
        <a href="#!/home/mine" class="weui-tabbar__item" ng-click="changeTab(3)">
            <span class="weui-tabbar__icon wode" ng-class="{'active':tab==3}"></span>
            <p class="weui-tabbar__label"  ng-class="{'weui-bar__item_on':tab==3}">我的</p>
        </a>
    </div>
</div>
<style>
.weui-tab {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
.weui-bar__item_on {
    color: #d81e06;
}
.weui-tabbar__icon{
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 27px;
}
.weui-tabbar__icon.shouye{
    background-image: url(./img/home1.png); 
}
.weui-tabbar__icon.shipin{
    background-image: url(./img/video1.png); 
}
.weui-tabbar__icon.toutiao{
    background-image: url(./img/toutiao1.png); 
}
.weui-tabbar__icon.wode{
    background-image: url(./img/mine1.png); 
}
.weui-tabbar__icon.active{
    background-position: 0px -27px; 
}
</style>
